*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --dark-green:#00393D;
  --light-green:#00747C;

  --light-gray:#CACACA;
  --dark-gray:#878787;
  --black:#3a3939;
  --white:#fff;
}

.btn-color{
  background-color: rgb(177, 177, 7);
}