@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


/*header icon*/
.icon-header-profile{
  width: 3rem;
}

/*banners*/
.banner-top{
  background-image: url('assets/image/pexels-photo-406014.jpeg');
  background-repeat: no-repeat;
  background-position:bottom;
  background-size: cover;
  height: calc(100vh - 150px);
}

.banner-top-form{
  background-image: url('assets/image/brinquedos-coloridos.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 50vh;
}

.banner-form{
  background-image: url('assets/image/objetos-coloridos.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 50vh;
}

.bg-location{
  background-image: url('assets/image/png-image-pets.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}

/*text color */
.text-color{
  color: #6390C7;
}

/*font-family*/
.font-alternative{
  font-family: 'Niconne', cursive;
}

/*bg color */

.bg-color{
  background-color: #6C65B9;
}

/*buttons*/
.btn-width{
  width: 100%;
}

/*iframe map*/
.iframe-location{
  min-width: 100%;
  min-height: 30rem;
}



























/*style page about me*/

.bg-main{
background-color: #d8dde0;
}

.bg-color-variety{
  background-color: #443ba1;
}

.button-color{
  background-color: #1b127c;
}

.button-color:hover{
  background-color: #4337c9;
}

.color-text-variety{
  color: #1b127c;
}


.font-text-variety{
  font-family: 'Satisfy', cursive;
}

.card-content{
  height: 26rem;
}

.img-card{
  width: 100%;
  max-height: 15rem;
}