/* font-family: 'Niconne', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.bg-header{
  background-color: #2e5c5f;
}

.icon-header-profile{
  width: 3rem;
}

.banner-top{
  background-image: url('assets/image/pexels-photo-406014.jpeg');
  background-repeat: no-repeat;
  background-position:bottom;
  background-size: cover;
  height: calc(100vh - 150px);
}

.banner-top-shop{
  background-image: url('assets/image/brinquedos-coloridos.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 50vh;
}

.banner-form{
  background-image: url('assets/image/objetos-coloridos.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 50vh;
}

.bg-location{
  background-image: url('assets/image/png-image-pets.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
}

.text-color{
  color: #16747a;
}

.font-alternative{
  font-family: 'Niconne', cursive;
}

.bg-color{
  background-color: #2e5c5f;
}

.iframe-location{
  min-width: 100%;
  min-height: 30rem;
}

.footer{
background-color: var(--light-gray);
}

.background-color{
  background-color: #dcdaeb;

}


/*style page about me*/

.bg-main{
background-color: #d8dde0;
}

.bg-color-variety{
  background-color: #443ba1;
}

.button-color{
  background-color: #1b127c;
}

.button-color:hover{
  background-color: #4337c9;
}

.color-text-variety{
  color: #1b127c;
}



.font-text-variety{
  font-family: 'Satisfy', cursive;
}

.card-content{
  height: 26rem;
}

.img-card{
  width: 100%;
  max-height: 15rem;
}